body{
    background-color: rgb(107, 231, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
}
.container{
    width: 80%; /* making website to be boxed */
    background-color: white; /* White Website background */
    margin: 0 auto; /* Aligning the website center */
}
h1.title{
    text-align: left!important;
    color: brown;
    text-transform:uppercase;
    font-size: 40px;
    padding: 10px;
}
h1.title:hover{
    text-decoration: overline;
    color: rgb(148, 90, 48);
    transition: ease-in-out.7s;
}
.top-menu{
    background-color: brown;
    overflow: hidden;
}
.top-menu ul li{
    list-style-type: none;
    float: left;
    border-right: 2px solid rgb(13, 230, 238);
    padding: 5px 10px;
}
.top-menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(13, 230, 238);
    font-weight: 800;
    font-size: 24px;
}
.top-menu ul li:hover {
background-color: rgb(13, 230, 238);
}
.top-menu ul li:hover a{
    text-decoration: underline;
    color: brown;
}
.main-img{
    width: 100%;
    height: 50vh;
}
table img{
    height: 500px;
    width: 400px;
}
table img:hover{
    opacity: .5;
    transform: scale(1.005);
    transition: ease-in 2s;
}
.credits{
    background-color: brown;
    padding: 30px;
    color: white;
    font-size: 24px;
}
.credits:hover{
    transform: rotate(15deg);
    transition: ease-in-out 10ms;
}